.Content {
  color: white;
  flex: 1;
  font-size: 2rem;
}

.Profile {
  background: hotpink;
}

.Text {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}
